aiosqlite==0.21.0
anyio==4.8.0
certifi==2025.1.31
fake-useragent==2.0.3
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
loguru==0.7.3
pyotp==2.9.0
sniffio==1.3.1
SQLAlchemy==2.0.37
twscrape @ git+https://github.com/gptlang/twscrape@4474e0a328ef974036b62b2af44a34d6d1dd1518
typing_extensions==4.12.2
